* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    background-image:url("https://tse3.mm.bing.net/th?id=OIP.WXOyi2RkWruFvwKiO-y6ewHaEK&pid=Api&P=0&h=180");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 85%;
    margin: auto;
}

nav {
    height: 80px;

}

nav h1 {
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: #eb7620;
}

nav ul {
    float: right;
    line-height: 80px;
}

nav ul li {
    display: inline-block;
    padding: 0px 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}

nav ul li a:hover {
    background-color: #eb7620;
    transition: 0.5s ease;
}

nav ul li .active {
    background-color: #eb7620;
}

.article {
    width:5opx;
    margin:auto;
    text-align: center;
    transform: translateY(25vh);
}
.article h1{
    font-size:36px;
    color:#fff;
    letter-spacing: 1.5px;
    font-weight:800;
    margin-bottom: 25px;
}
.article p{
    font-size:18px;
    color:#fff;
    line-height:1.5;
    margin-bottom: 50px;
}
.article .btn{
    color:#fff;
    padding:12px 25px;
    letter-spacing:1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f15048;
}
.article .btn:hover{
    background-color: #4399fa;
    transition:0.5s ease;
}
